@import "tailwindcss";

.nointeract {
  pointer-events: none;
  user-select: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #441306;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.upnext-gradient {
  background: #D1D5DC;
  background: -webkit-linear-gradient(90deg, rgba(209, 213, 220, 1) 0%, rgba(209, 213, 220, 1) 75%, rgba(209, 213, 220, 0) 100%);
  background: -moz-linear-gradient(90deg, rgba(209, 213, 220, 1) 0%, rgba(209, 213, 220, 1) 75%, rgba(209, 213, 220, 0) 100%);
  background: linear-gradient(90deg, rgba(209, 213, 220, 1) 0%, rgba(209, 213, 220, 1) 75%, rgba(209, 213, 220, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#D1D5DC", endColorstr="#D1D5DC", GradientType=1);
}